.app-header header {
  background-color: white !important;
  background-image: url("/public/images/header-back.png");
  /* background-size: cover; */
  background-repeat: repeat;
}

.app-header .css-dohfak-MuiAvatar-root {
  background-color: #c8d736;
}
.nav-logo {
  /* position: fixed; */
  padding: 15px 10px;
  /* width : 330px; */
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  position: sticky;
  top: 0px;
  z-index: 9999;
}
.nav-link .nav-logo img {
  height: 38px;
}

.nav-bar span {
  color: #fff !important;
}

.css-16pm499-MuiButtonBase-root-MuiListItemButton-root {
  background-color: #c8d736 !important;
  color: white !important;
  font-size: "15px" !important;
}
