.app-header header{
    background-color: white !important;
    background-image: url('/public/images/header-back.png');
    /* background-size: cover; */
    background-repeat: repeat;
}

.app-header .css-dohfak-MuiAvatar-root{
    background-color: #C8D736;
}
.nav-logo{
    text-align: center;
    padding: 27px 10px;
    background-color: white;
}
.nav-bar span {
    color: #fff !important;
}

 .css-16pm499-MuiButtonBase-root-MuiListItemButton-root{
    background-color: #C8D736 !important;
    color: white !important;
    font-size:"15px" !important
}